<a name="forms-construido" class="link-ancora"></a>
<section>
  <h3 class="line-bottom">
    Cadastro de <%= User.model_name.human.capitalize %>:
    <span class="destaque">
      <%= @user.name %>
    </span>
  </h3>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> proibiram esse usuario de ser salvo:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>

      <legend></legend>

      <div class="row clearfix">
        <div class="left t6">
        </div>
      </div>

      <div class="row clearfix">
        <div class="left t5">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      </div>


    </fieldset>

    <div class="actions">
    </div>

<form>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
      <%= f.label "Papel" %>
      <%= select_tag("user[role]", options_for_select([ ['Selecione um nível', ''], ['Administrador', 'admin'], ['Usuário', 'user']], @user.role), disabled: !@current_user.admin? ) %>
  </div>
  <button type="submit" class="btn btn-default">Salvar usuário</button>
</form>
  <% end %>

</section>


