<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da Sala:</strong>
  <%= @room.description %>
</p>

<br>
<br>
<p>Agenda da sala</p>
<table class="table table-striped">
  <tr>
    <td>Horário</td>
    <td><%= days_of_week[0] %></td>
    <td><%= days_of_week[1] %></td>
    <td><%= days_of_week[2] %></td>
    <td><%= days_of_week[3] %></td>
    <td><%= days_of_week[4] %></td>
    <td><%= days_of_week[5] %></td>
    <td><%= days_of_week[6] %></td>
  </tr>

  <tbody>
    <% Constants::HOURS.each do |hour| %>
      <tr>
        <td><%= hour %></td>
        <td><%= check_situation(@room, days_of_week[0].to_datetime, hour.to_i) %></td>
        <td><%= check_situation(@room, days_of_week[1].to_datetime, hour.to_i) %></td>
        <td><%= check_situation(@room, days_of_week[2].to_datetime, hour.to_i) %></td>
        <td><%= check_situation(@room, days_of_week[3].to_datetime, hour.to_i) %></td>
        <td><%= check_situation(@room, days_of_week[4].to_datetime, hour.to_i) %></td>
        <td><%= check_situation(@room, days_of_week[5].to_datetime, hour.to_i) %></td>
        <td><%= check_situation(@room, days_of_week[6].to_datetime, hour.to_i) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
