<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da Sala:</strong>
  <%= @room.description %>
</p>
<div id="time_div">
  <%= link_to 'teste', @room, method: 'put', remote: true %>
</div>

<br>
<br>
<p>Agenda da sala</p>
<table class="table table-striped">
  <tr>
    <th>Horário</td>
    <th><%= days_of_week[0] %></th>
    <th><%= days_of_week[1] %></th>
    <th><%= days_of_week[2] %></th>
    <th><%= days_of_week[3] %></th>
    <th><%= days_of_week[4] %></th>
    <th><%= days_of_week[5] %></th>
    <th><%= days_of_week[6] %></th>
  </tr>

    <% Constants::HOURS.each do |hour| %>
      <tr>
        <td class="col-md-1"><%= hour %></td>
        <td class="col-md-1"><%= check_situation(@room, days_of_week[0], hour) %></td>
        <td class="col-md-1"><%= check_situation(@room, days_of_week[1], hour) %></td>
        <td class="col-md-1"><%= check_situation(@room, days_of_week[2], hour) %></td>
        <td class="col-md-1"><%= check_situation(@room, days_of_week[3], hour) %></td>
        <td class="col-md-1"><%= check_situation(@room, days_of_week[4], hour) %></td>
        <td class="col-md-1"><%= check_situation(@room, days_of_week[5], hour) %></td>
        <td class="col-md-1"><%= check_situation(@room, days_of_week[6], hour) %></td>
      </tr>
    <% end %>
</table>
