<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da Sala:</strong>
  <%= @room.description %>
</p>

<br>
<br>
<p>Agenda da sala</p>
<table class="table table-striped">
  <tr>
    <th>Horário</td>
    <th><%= days_of_week[0] %></th>
    <th><%= days_of_week[1] %></th>
    <th><%= days_of_week[2] %></th>
    <th><%= days_of_week[3] %></th>
    <th><%= days_of_week[4] %></th>
    <th><%= days_of_week[5] %></th>
    <th><%= days_of_week[6] %></th>
  </tr>

  <% Constants::HOURS.each do |hour| %>
    <tr data-hour="<%= hour %>">
      <td class="col-md-1"><%= hour %></td>
      <% days_of_week.each do |day| %>
        <% scheduling = check_scheduling(@room, day, hour) %>

        <% if can_schedule?(scheduling) %>
          <td class="col-md-1" data-day="<%= day %>">
            <%= link_to scheduling_description(scheduling),
                        schedule_room_path(room_id: @room.id, date: day, time: hour),
                        data: {confirm: 'tem certeza que deseja reservar/cancelar?'}, remote: true %>
          </td>
        <% else %>
          <td class="col-md-1"><%= scheduling_description(scheduling) %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
