<h1>Listing schedulings</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>User</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedulings.each do |scheduling| %>
      <tr>
        <td><%= scheduling.room_id %></td>
        <td><%= scheduling.user_id %></td>
        <td><%= scheduling.time %></td>
        <td><%= link_to 'Show', scheduling %></td>
        <td><%= link_to 'Edit', edit_scheduling_path(scheduling) %></td>
        <td><%= link_to 'Destroy', scheduling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduling', new_scheduling_path %>
