<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @scheduling.room_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @scheduling.user_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @scheduling.time %>
</p>

<%= link_to 'Edit', edit_scheduling_path(@scheduling) %> |
<%= link_to 'Back', schedulings_path %>
